{% include 'modals/task_modal.html' %}
{% include 'modals/edit_task_modal.html' %}
{% include 'modals/cancel_task_modal.html' %}
{% include 'modals/undertask_modal.html' %}
{% include 'modals/event_modal.html' %}
{% include 'modals/edit_event_modal.html' %}
{% include 'modals/team_modal.html' %}
{% include 'modals/manage_project_modal.html' %}
{% include 'modals/project_modal.html' %}
{% include 'modals/user_modal.html' %}
{% include 'modals/message_modal.html' %}
{% include 'modals/submit_modal.html' %}
{% include 'modals/executor_modal.html' %}